/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 29-sep-2016, 19:35:39
    Author     : Zack
*/

body {
    font: bold 15px verdana black;
}

a {
    text-decoration:none;
    color: white;
}

li {
    font: 15px Verdana;
}

p {
    font: 20px Verdana;
}

h1 {
    text-align: center;
    text-shadow: 1px 2px #999;
    font: bold 30px verdana black;
}

volver {
    background-color: #999999;
    border-radius: 20px /10px;
    width: 40%;
    padding: 10px;
    margin-top:10px;
    border: 2px solid black;
}

volver:hover {
    background-color: grey;
    border-radius: 20px /10px;
    width: 40%;
    padding: 10px;
    margin-top:10px;
    border: 2px solid black;
}

cabeceras {
    font: 19px verdana black;
    border-top: 2px solid grey;
    border-bottom: 2px solid grey;
}

valor {
    font: 13px verdana black;
    color: red;
}
